<head>
    <meta charset="UTF-8">
    <title>News Archives API</title>
    <meta name="The #1 Historic News API" content="Description">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='index.css') }}">
</head>

{% filter markdown %} 
{{ README }}
{% endfilter %}

<h2>Languages</h2>
<p>News Archives is written in the following languages:</p>
<ul>
    {% for i in languages %}
        <li><p><a href="https://github.com/gadhagod/News-Archives/search?l={{ i }}">{{ i }}</a>: {{ languages[i] }}</p></li>
    {% endfor %}
</ul>